fastapi
uvicorn
langchain
langchain-google-genai
langchain-community
google-generativeai
sentence-transformers
faiss-cpu
pypdf
requests
python-multipart
pydantic
python-dotenv
unstructured
python-docx
python-magic